<div class="container">
		
		<header class="navbar navbar-inverse navbar-fixed-top" id="top" role="banner">
			<div class="container">
				<div class="navbar-header">
					<a href="/" class="navbar-brand">Simple-Form<h6>-An Example of my form skills</h6></a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li>
							<a href="/form">Home</a>
						</li>
					</ul>
				</div>
				
			</div>
		</header>
		<section class="content">
		<div class="container">
		<div class="jumbotron">
			<h1>Simple-Form</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae maiores cum, ipsa aspernatur doloremque dolor repellat voluptatum cupiditate voluptatem voluptates velit eum rem a sit, officiis ratione fuga voluptas beatae.</p>
		</div>
			<form>
				<div class="form-group">
					<label for="user_name">Name</label>
					<input type="text" class="form-control" id="user_name" placeholder="John Doe">
					<label for="user_email">Email</label>
					<input type="email" class="form-control" id="user_email" placeholder="Enter email">
					<label for="user_phone">Phone Number</label>
					<input type="tel" class="form-control" id="user_phone" placeholder="(123) 456-7891" required>
					<label for="user_comments">Comments</label>
					<textarea class="form-control"name="user_comments" id="user_comments"  rows="4"></textarea>
				</div>
			</form>
		</div>
		</section>
		</div>